aiohttp
aiosignal
asgiref
async-timeout
attrs
certifi
charset-normalizer
decorator
Django
django-cors-headers
djangorestframework
frozenlist
idna
imageio
imageio-ffmpeg
moviepy
multidict
numpy
openai
pika
Pillow
proglog
pytz
requests
sqlparse
tqdm
typing_extensions
urllib3
yarl
gunicorn
